<h3>Lista de Categorias</h3>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success mt-4">Nova Categoria</button></a>
{{#each categorias}}

    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small> <br>
            <small class="data date-{{id}}"></small>
            <script>
                document.querySelector('.date-{{id}}').innerHTML ="Data de Criação: "+ new Date('{{date}}').toLocaleDateString();
            </script>
            <br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-2" >Editar Categoria</button></a>
            <form action="/admin/categorias/delete" method="POST">
            <input type="hidden" value="{{_id}}" name="id" >
                <button type="submit"    class="btn btn-danger mt-2">Excluir Categoria</button>
            </form>
        </div>
    </div>
{{else}}
<h4 class="mt-3">Nenhuma Categoria Registrada!</h4>


{{/each}}

